*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    /* border: 2px dotted blue; */
    height: 600px;
    background-image: url(../Image/Img_05.jpg);
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    /* text-decoration: underline wavy black; */
    /* text-decoration: line-through; */
    text-decoration: overline;
    
}

.list{
    border: 2px dotted;
    width: 500px;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    /* display: inline; */
}

ol li{
    display: inline;
}

h2{
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    padding: 12px 0;
    margin: 0px auto;
    font-size: 28px;
}

p{
    border: 2px solid black;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 6px 6px;
    width: 900px;
    text-align: justify;
    color: rgb(12, 48, 125);
    padding: 15px;
    margin: 10px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}